.header {
    text-align: center;
}

.title {
    font-style: oblique;
    font-weight: bold;
    font-size: 3rem;
    color: bisque;
}

.create-btn {
    width: 6rem;
    height: 3.5rem;
    margin: 1rem;
    font-weight: bold;
    color: green;
    background-color: bisque;
    border-radius: 0.5rem;
    cursor: pointer;
}

.edit-icon {
    color: green;
}

.search-field {
    width: 66%;
    height: 3rem;
    background-color: ghostwhite;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    font-weight: lighter;
    color: #272727;
}